body {
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.div1 {
    width: 50%;
    height: 100vh;
    background-color: royalblue;
}

.div2 {
    width: 50%;
    height: 100vh;
    background-color: forestgreen;
}

#resize {
    width: 6px;
    left: -4px;
    height: 100vh;
    cursor: ew-resize;
}